---
---

<section>
  I do <span id="field">
    <svg
      width="51"
      height="61"
      viewBox="0 0 51 61"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M40.5774 60.3976L50.3968 41.137L28.807 42.2634L40.5774 60.3976ZM0.350596 0.987546C0.331576 7.74923 0.816266 12.8332 1.73497 16.6174C2.65138 20.3922 4.04235 23.05 5.97549 24.7392C7.95542 26.4692 10.2624 26.975 12.5361 26.9314C14.745 26.889 17.071 26.3226 19.2055 25.7884C21.4232 25.2334 23.4719 24.7025 25.4333 24.5392C27.3589 24.3789 29.0275 24.5931 30.4904 25.4057C33.4172 27.0314 36.4109 31.5953 37.8398 43.785L41.5589 43.3491C40.1161 31.0402 36.9706 24.7218 32.3086 22.1322C29.9772 20.8372 27.489 20.6105 25.1226 20.8075C22.792 21.0015 20.4136 21.626 18.2964 22.1559C16.0958 22.7066 14.179 23.1546 12.4643 23.1875C10.8143 23.2192 9.51708 22.8611 8.43934 21.9194C7.31482 20.9368 6.19469 19.1152 5.37384 15.734C4.55528 12.3623 4.07653 7.61386 4.09514 0.99808L0.350596 0.987546Z"
        fill="currentColor"
      >
      </path>
    </svg>
    HTML/CSS and some CRUD
  </span> - mostly wih <span id="lang">
    Js
    <svg
      width="51"
      height="60"
      viewBox="0 0 51 60"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.96533 0.160685L0.313717 19.5059L21.893 18.1918L9.96533 0.160685ZM50.7072 59.2187C50.6674 52.4571 50.1385 47.3776 49.187 43.6015C48.2378 39.8348 46.8237 37.1892 44.876 35.5169C42.8811 33.8042 40.5697 33.3185 38.2966 33.3818C36.0881 33.4434 33.7671 34.03 31.6374 34.5827C29.4245 35.157 27.3805 35.7058 25.4207 35.8861C23.4965 36.0631 21.8261 35.8634 20.3562 35.0636C17.4154 33.4634 14.3821 28.9257 12.8473 16.7488L9.13214 17.2171C10.6819 29.513 13.8821 35.8038 18.5665 38.3528C20.9091 39.6275 23.3992 39.8325 25.7638 39.6149C28.0926 39.4006 30.4654 38.7555 32.578 38.2072C34.7737 37.6374 36.6866 37.1727 38.4009 37.1249C40.0506 37.0789 41.3508 37.4257 42.4367 38.358C43.5698 39.3308 44.7057 41.1426 45.5559 44.5165C46.4037 47.881 46.9238 52.6251 46.9627 59.2408L50.7072 59.2187Z"
        fill="currentColor"></path>
    </svg>
  </span>.
</section>

<style>

  span {
    display: inline-block;
    position: relative;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-style: wavy;
    text-decoration-color: var(--theme-1);
  }

  span#field svg {
    color: var(--theme-1);
    position: absolute;
    display: block;
    right: 6rem;
    bottom: 0.2rem;
    width: 1.2rem;
  }

  span#lang svg {
    color: var(--theme-1);
    position: absolute;
    display: block;
    top: 1rem;
    width: 1.2rem;
  }

  /* doodle captions */
  span::before {
    text-align: center;
    position: absolute;
    left: 25%;
    text-transform: uppercase;
    font-size: xx-small;
    display: block;
    rotate: -12deg;
  }

  span#field::before {
    content: "Web Development";
    bottom: 3rem;
  }

  span#lang::before {
    content: "Main Weapon";
    top: 3.6rem;
  }
</style>
