---
import Info from "./Info.astro";
---

<section>
  <h1>Aung Myint Myat Oo</h1>
  <Info />
</section>

<style>
  section {
    min-height: 80vh;
    display: grid;
    place-items: center;
  }
  h1 {
    font-size: max(48px, min(5vw, 76px));
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 600;
  }

  h1::before,
  h1::after {
    color: var(--theme-1);
    font-family: Inter;
    text-transform: initial;
    font-size: small;
    display: block;
    margin-top: 1rem;
  }
  h1::before {
    content: "Hi, I'm";
  }
  h1::after {
    content: "@agmmtoo";
    text-align: right;
  }
</style>
