---
import { getFeaturedProjects } from "../../utils/getProjects";
import Project from "../../types/Project";
const featuredProjects = getFeaturedProjects();
import { tiltProps } from "../../styles/tiltProps";
---

<section>
  <div class="featured-projects-grid">
    {
      featuredProjects.slice(0, 4).map((project: Project) => (
        <a
          href={`/projects/${project.slug}`}
          class="project tilt-card"
          {...tiltProps}
        >
          <h6>{project.name}</h6>
          <p>{project.description}</p>
        </a>
      ))
    }
    <a href="/projects" class="project tilt-card" {...tiltProps}>
      <h6>See all projects</h6>
      <div>View all projects &rarr;</div>
    </a>
  </div>
</section>

<style>
  section {
    min-height: 80vh;
    display: grid;
    place-items: center;
  }
  .featured-projects-grid {
    max-width: 40rem;
    margin: auto;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10rem 10rem 10rem;
  }

  @media screen and (min-width: 768px) {
    .featured-projects-grid {
      gap: 1rem;
    }
  }

  .project {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    border-radius: 4px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    touch-action: pan-y;
  }

  .project:first-child {
    grid-row: span 2 / span 2;
  }

  .tilt-card {
    box-shadow: var(--shadow-embossed);
  }

  :global(.dark) .tilt-card {
    border: 1px solid var(--accents-2);
    transition: all 400ms ease;
  }
  .tilt-card p {
    color: var(--accents-6);
  }

  .tilt-card h6 {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5ch;
    font-family: Montserrat, sans-serif;
  }
  .tilt-card:hover {
    background-color: var(--accents-1);
    border-color: var(--theme-1);
  }
  .tilt-card:hover > h6 {
    color: var(--theme-1);
    text-decoration: underline;
  }
</style>

<script>
  import "../../scripts/vanilla-tilt.min.js";
</script>
