---
const { link, date, title } = Astro.props;
---

<div class="post">
  <a href={link}>{title}</a>
  <span
    >{
      Intl.DateTimeFormat("mm", {
        month: "short",
        day: "numeric",
        year: "numeric",
      }).format(date)
    }</span
  >
</div>

<style>
  .post {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    & span,
    & a {
      color: currentColor;
      display: block;
    }

    & a:visited,
    & span {
      text-decoration-color: var(--accents-4);
      color: var(--accents-4);
    }
  }
</style>
