---
const { link, date, title, description } = Astro.props;
---

<div class="post">
  <div>
  <a href={link}>{title}</a>
  <p>{description}</p>
</div>
  <span
    >{
      Intl.DateTimeFormat("mm", {
        month: "short",
        day: "numeric",
        year: "numeric",
      }).format(date)
    }</span
  >
</div>

<style>
  .post {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    text-underline-offset: 0.6em;
    :hover a {
      color: var(--theme-1);
      text-decoration-color: var(--theme-1);
    }
    & span,
    & a {
      color: currentColor;
      display: block;
    }

    & a:visited:not(:hover),
    & span {
      text-decoration-color: var(--accents-4);
      color: var(--accents-4);
    }
    & p {
      margin-top: 2ch;
      font-weight: 500;
      font-size: small;
      color: var(--accents-5);
    }
  }
</style>
