---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>Not all those who wander are lost, but you are.</section>
</BaseLayout>

<style>
  section {
    text-align: center;
    min-height: 80vh;
    display: grid;
    place-items: center;
  }
</style>
