---
const res = await fetch(
  `https://api.github.com/repos/agmmtoo/personal-site/commits`
);
const commits = await res.json();

const latestCommit = commits[0];
const commitHash = latestCommit?.sha?.slice(0, 7) ?? 0;
const commitDate = new Date(latestCommit?.commit?.author?.date);
const commitUrl = latestCommit?.html_url;
---

<footer>
  <div class="container">
    <div class="resources">
      <h4>Resources</h4>
      <a href="/projects">Projects</a>
      <a href="/writing">Writing</a>
    </div>
    <div id="contacts">
      <h4>Contacts</h4>
      <a href="https://github.com/agmmtoo">Github</a>
      <a href="https://twitter.com/agmmtoo">Twitter</a>
    </div>
  </div>
  <p>Copyright &copy; {new Date().getFullYear()} agmmtoo</p>
  <span
    >Updated on {commitDate.getDate()}/{commitDate.getMonth()}/{
      commitDate.getFullYear()
    } [<a href={commitUrl}>{commitHash}</a>]</span
  >
</footer>

<style>
  footer {
    color: var(--accents-5);
    padding: var(--padding-1);
    border-top: 1px solid var(--accents-2);
    background-color: var(--accents-1);
    & p {
      font-size: small;
      text-align: center;
    }

    & span {
      font-size: xx-small;
      font-weight: bold;
      text-align: right;
      display: block;
    }

    & a {
      color: inherit;
    }

    & > * + * {
      margin-top: var(--padding-1);
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 46rem;
    margin: auto;
  }

  .container a {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: var(--accents-6);
    }
  }
</style>
