---
// import DarkmodeBtn from "./DarkmodeBtn";
import DarkmodeBtn from "./DarkmodeBtn.astro";
---

<nav>
  <a href="/" class="logo">Agmmtoo</a>
  <div class="burger-menu">
    <div class="nav-links">
      <a href="/projects">Projects</a>
      <a href="/writing">Writing</a>
      <DarkmodeBtn />
    </div>
    <input type="checkbox" id="menu-btn" />
  </div>
</nav>

<style>
  nav {
    background-color: var(--accents-1);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 1rem var(--padding-1);

    border-bottom: 1px solid var(--accents-2);
  }
  nav a {
    text-align: center;
    text-decoration: none;
    color: inherit;
  }

  .nav-links {
    position: absolute;
    left: 0;
    top: 3.6rem;
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
  }

  .nav-links.open {
    display: flex;
    border-bottom: 1px solid var(--accents-2);
    padding: var(--padding-1);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: var(--accents-1)/5;
    z-index: 2;
  }

  input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.5);
  }

  /* #menu-btn, */

  @media screen and (min-width: 636px) {
    .nav-links {
      display: flex;
      flex-direction: row;
      position: inherit;
    }
    #menu-btn {
      display: none;
    }
  }
</style>

<script>
  import "../scripts/menu.js";
  import "../scripts/darkmode.js"
</script>
