---
---

<nav>
  <a href="/" class="logo">Agmmtoo</a>
  <div class="nav-links">
    <a href="/projects">Projects</a>
    <a href="/writing">Writing</a>
  </div>
</nav>

<style>
  nav {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem var(--padding-1);

    border-bottom: 1px solid var(--accents-1);
  }
  nav a {
    text-align: center;
    text-decoration: none;
    color: inherit;
  }
</style>
