---
import { marked } from "marked";

const { slug, project } = Astro.props;
// fetch repo's readme
const res = await fetch(
  `https://api.github.com/repos/agmmtoo/${slug}/contents/README.md`,
  {
    headers: {
      Accept: "application/vnd.github.v3.raw",
    },
  }
);
const readme = await res.text();
const content = marked.parse(readme);

// const repoInfo = await fetch(`https://api.github.com/repos/agmmtoo/${slug}`);

// const { homepage } = await repoInfo.json();
---

<div class="sticky-menu">
  <!-- BUG: "." in dev server works like ".." in prod -->
  <a href=".." role="button" class="back">&larr; Back</a>
  <a href={project.url} target="_blank" >Visit</a>
</div>

<article class="readme" set:html={content} />

<style>
  .sticky-menu {
    position: sticky;
    top: 0;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
      color: inherit;
      text-decoration: inherit;
      font-weight: 600;
    }
  }
  article {
    max-width: 80rem;
    margin: 0 auto;
  }
  .readme {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  :global(pre) {
    padding: 1ch;
    overflow-x: auto;
    border: 1px solid var(--accents-2);
    border-radius: 4px;
  }
</style>
