---
import { getCollection } from "astro:content";
import PostListItem from "../../components/writing/PostListItem.astro";
const allPosts = await getCollection("posts");

import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Writing">
  <section>
  {
    allPosts.map((post) => (
      <PostListItem
        link={post.slug}
        title={post.data.title}
        date={post.data.pubDate}
      />
    ))
  }
  </section>
</BaseLayout>

<style>
  section {
    max-width: 64rem;
    margin: 0 auto;
  }
</style>
